@model Financas.Models.MovimentacoesPorUsuarioModel

@using(@Html.BeginForm("MovimentacoesPorUsuario", "Movimentacao", FormMethod.Get))
{
    @Html.LabelFor(x => x.UsuarioID, "Usuario")
    @Html.DropDownListFor(x => x.UsuarioID, new SelectList(Model.Usuarios, "Id", "Nome"), "Escolha um usuário", new { @Class = "form-control"})



<input type="submit" value="Buscar" />
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Tipo</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model.Movimentacoes)
        {
            <tr>
                <td>@item.Usuario.Nome</td>
                <td>@item.Tipo</td>
                <td>@item.Valor</td>
            </tr>
        }
    </tbody>

</table>
